html{
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body{
  margin: 0;
  header#header{
    box-shadow: -1px 0 10px -1px #333;
    position: fixed;
    padding: 8px 0;
    width: 100%;
    z-index: 5;
    top: 0;
    background-color: $headerColor;
    .jstore-container{
      margin: 0 auto;
      }
  }
}

img{
  max-width: 100%;
}

ul,
li{
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  display: inline-block;
  text-decoration: none;
}


  .jstore-container{
    display: flex;
    margin: 100px auto 20px;
    max-width: 1280px;
    padding: 0 1rem;
  }
  .lsp-block-items-list{
    .jstore-tag {
      &.h1 {
        margin: 8px 0 8px 0;
       }
    }
    &:first-child h1{
        margin: 0 0 12px 0 !important;
    }
  }

  //сброс стилей wp
#jstore-css, .jstore-header-fixed-dropdown{
  input[type="button"]:focus,
  input[type="button"]:hover,
  input[type="reset"]:focus,
  input[type="reset"]:hover,
  input[type="submit"]:focus,
  input[type="submit"]:hover {
    text-decoration: none;
  }
}

//media


@media (max-width: 1200px) {
  .jstore-container {
    max-width: 1170px;
  }
}


  @media (max-width: 992px) {
    .jstore-container {
      max-width: 970px;
    }
  }
  @media (max-width: 768px) {
    .jstore-container {
      max-width: 750px;
    }
  }

  #jstore-css #lsp-block-content #lsp-block-order-form .lsp-form .lsp-js-submit,
  #jstore-css #lsp-block-content .jstore-tag.lsp-button,
  #jstore-css .jstore-tag.lsp-button-plus,
  #jstore-css .jstore-tag.lsp-button-minus,
  #jstore-css .jstore-tag.lsp-button-cross,
  .jstore-tag.lsp-button-minus:hover, .jstore-tag.lsp-button-plus:hover, .jstore-tag.lsp-button:hover {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }