header#header{
  .jstore-container{
    a.logo{
      position: relative;
      left: calc(50% - 25px);
      img{
        height: 66px;
      }
    }
    .icon-search,
    .icon-signin,
    .icon-cart-wrapper{
      background: $mainColor;
      min-width: 45px;
      border: 1px solid $hoverColor;
      border-radius: 5px;
      color: $textColor;
      cursor: pointer;
      display: block;
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: 0.0333em;
      line-height: 1.25;
      margin: 0;
      opacity: 1;
      transition:all .3s;
      padding: 1em;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      &:hover{
        background: $btnHoverColor;
        //.jstore-js-cart-total-count,
        .fa-search,
        .fa-user,
        .fa-shopping-cart{
          //color: $textColor;
        }
      }
    }
    .icon-cart-wrapper{
      display: flex;
      height: 50px;
      &:hover{
        .jstore-js-cart-total-count{
          //color: $textColor !important;
          //transition:all .4s;
        }
      }
    }
  }
}

@media (max-width: 580px) {
  header#header{
    .jstore-container{
      a.logo{
        left: 1rem;
      }
    }
  }
}