header#header{
  .jstore-container{
    a.logo{
      position: relative;
      left: 24%;
      img{
        height: 120px;
      }
    }
    .kaco-header-fixed-contacts{
      font-size: 14px;
      margin: 0 25px 0 auto;
      font-weight: 600;
      max-width: 450px;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      max-height: 120px;
      overflow: hidden;
      a{
        color: $blackColor;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .icon-search,
    .icon-signin,
    .icon-cart-wrapper,
    .icon-contacts{
      background: $mainColor;
      min-width: 45px;
      border: 1px solid $hoverColor;
      border-radius: 5px;
      color: $textColor;
      cursor: pointer;
      display: block;
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: 0.0333em;
      line-height: 1.25;
      margin: 0;
      opacity: 1;
      transition:all .3s;
      padding: 1em;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      &:hover{
        background: $btnHoverColor;
        //.jstore-js-cart-total-count,
        .fa-search,
        .fa-user,
        .fa-shopping-cart{
          //color: $textColor;
        }
      }
    }
    .icon-cart-wrapper{
      display: flex;
      height: 50px;
      &:hover{
        .jstore-js-cart-total-count{
          //color: $textColor !important;
          //transition:all .4s;
        }
      }
    }
  }
}

body{
  background: url("./../img/bg-main.jpg");
  background-repeat: repeat;
  #jstore-css{
    margin: 155px 0 20px 0;
  }
}

@media (max-width: 725px) {
  body #jstore-css {
    margin: 135px 0 20px;
  }
  header#header{
    .jstore-container{
      a.logo{
        left: 1rem;
        img{
          height: 100px;
        }
      }
      .jstore-header-fixed-dropdown #lsp-block-userinfo,
      .jstore-header-fixed-dropdown .dropdown-cart,
      .jstore-header-fixed-dropdown .fixed-contacts .kaco-header-fixed-contacts--dropdown,
      .jstore-header-fixed-dropdown .fixed-search .jstore-block-search{
        top: 85px;
      }
    }
  }
}
@media (max-width: 425px) {
  body #jstore-css {
    margin: 115px 0 20px;
  }
  header#header{
    .jstore-container{
      a.logo{
        img{
          height: 80px;
        }
      }
      .jstore-header-fixed-dropdown{
        li{
          margin-left: 10px;
        }
      }
    }
  }
}
@media (max-width: 385px) {
  header#header{
    .jstore-container{
      a.logo{
        img{
          display: none;
        }
      }
      .jstore-header-fixed-dropdown{
        .fixed-search,
        .fixed-signin,
        .fixed-cart{
          //position: static;
        }
        .fixed-search .jstore-block-search,
        .fixed-signin #lsp-block-userinfo,
        .fixed-cart #lsp-header-cart,
        .fixed-contacts .kaco-header-fixed-contacts--dropdown{
          top: 68px;
        }
      }
    }
  }
}
