$mainColor: #fecd06;
$secondColor: #fcd538;
$thirdColor:#fcdf6a;
$hoverColor: #c6a005;
$textColor: #333;
$btnColor: #d9d9d9;
$btnHoverColor: #ededed;
$whiteColor: #ffffff;
$lessGrayColor: #e5e5e5;
$grayColor: #d9d9d9;
$thirdGrayColor: #ededed;
$bgColor: #fbfbfb;
$grayColorOpacity: rgba(0, 0, 0, 0.7);
$moreGrayColor: hsl(0, 0%, 35%);
$errorColor: #f00;
$summColor: #cf3734;
$blackColor: #000;
$bgPopupColor: #3b3b3b;
$transparent: transparent;